<!-- templates/bye.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodbye - Welchat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="bye-box">
            <h1>Goodbye, {{ username }}!</h1>
            <p>Thank you for chatting with our Welchat. Hope you have a great day ahead, Feel free to return anytime!</p>
        </div>
    </div>
</body>
</html>
